
#mario {
height:50px;
width:100px;
background-color:red;
//display:none;
}





#kamina{
height:50px;
width:100px;
background-color:blue;
color:white;
//display:none;
}

#madara{

height:50px;
width:100px;
background-color:violet;
//display:none;


}


#goku{
height:50px;
width:100px;
background-color:azure;
//display:none;

}



#ans1{
height:50px;
width:100px;
background-color:gray;
// bvdisplay:none;
}


#ans2{

height:50px;
width:100px;
background-color:gray;
display:none;

}



#ans3{
height:50px;
width:50px;
background-color:gray;
display:none;


}


#ans4{
height:100px;
width:100px;
background-color:gray;
display:none;
}


#ans5{
height:100px;
width:100px;
background-color:gray;
display:none;
}













